#content
  %h1 О компании
  %p=raw ::Text.content('about')

- content_for :title, "О компании"
- content_for :description, "Форум-Плаза – компания с многолетним опытом внедрения климатических систем на рынке Украины."