#content
  .badge= image_tag "service_inactive.jpg"
  %h1 Сервис
  %p=raw ::Text.content('service')

- content_for :title, "Сервис"
- content_for :description, "Регулярное обслуживание  систем вентиляции, отопления и кондицио­нирования предупреждает серьез­ные поломки, влекущие за собой соответствующие внеплановые за­траты."