#content
  .badge= image_tag "Prom_sistemu_inactive.jpg"
  %h1 Промышленные климатические системы
  = render partial: 'list', locals: { collection: @collection, companies: @companies }

- content_for :title, "Промышленные климатические системы"
- content_for :description, "Промышленные климатические системы"