// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
//@import "active_admin/mixins";
//@import "active_admin/base";
//@import "ckeditor/skins/moono/dialog";
//@import "active_admin_ckeditor_patch";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

@import "active_admin/mixins";
@import "active_admin/components/links";
 
body {
  @include global-reset;
  @import "active_admin/typography";
  @import "active_admin/header";
  @import "active_admin/forms";
  @import "active_admin/components/comments";
  @import "active_admin/components/flash_messages";
  @import "active_admin/components/date_picker";
  @import "active_admin/components/popovers";
  @import "active_admin/components/tables";
  @import "active_admin/components/batch_actions";
  @import "active_admin/components/blank_slates";
  @import "active_admin/components/breadcrumbs";
  @import "active_admin/components/dropdown_menu";
  @import "active_admin/components/buttons";
  @import "active_admin/components/grid";
  @import "active_admin/components/pagination";
  @import "active_admin/components/panels";
  @import "active_admin/components/columns";
  @import "active_admin/components/scopes";
  @import "active_admin/components/status_tags";
  @import "active_admin/components/table_tools";
  @import "active_admin/pages/dashboard";
  @import "active_admin/pages/logged_out";
  @import "active_admin/structure/footer";
  @import "active_admin/structure/main_structure";
  @import "active_admin/structure/title_bar";
} 

body {
  margin: 0;
  padding: 0;
}
a.cke_dialog_ui_button_ok {
  &, span {
    color: #FFF !important;
  }
}
a.cke_dialog_ui_button {
  color: #333 !important;
  text-decoration: none;
}
.cke_chrome {
  width: 1024px !important;
  overflow: hidden;
}